body {
    font-family: 'Mukta', sans-serif;
    color: #FFF;
    background: #111;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    min-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.content-wrapper {
    width: 980px;
    margin: 0 auto;
}

.no-indent {
    text-indent: 0px !important;
}

main {
    background: #FFF;
}

input,
select {
    background: #F6F6F6;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}

.btn {
    border-radius: 5px;
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-success {
    background: #48A102;
}

.btn-success:hover {
    background: #348D0A;
}

.btn-warning {
    background: #FFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    color: #666666;
}

.btn-warning:hover {
    background: #F2994A;
    color: #FFF;
    border: none;
}

.btn-default {
    background: #3D3948;
}

.btn-default:hover {
    background: #A19DAC;
}


/**************************************
            HEADER CONTENT 
***************************************/


/* CTA Banner at the top announcing almost-full flights. Closeable */

header a {
    color: #FFF;
    text-decoration: none;
}

header .cta-banner {
    background: #3D3948;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

header .cta-banner div {
    display: inline-block;
    vertical-align: middle;
}

header .cta-banner .prompt {
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
}

header .cta-banner .info {
    font-size: 18x;
    text-align: center;
    margin-left: 50px;
}

header .cta-banner .close {
    position: absolute;
    color: #A19DAC;
    font-size: 14px;
    right: 30px;
    cursor: pointer;
}

header .cta-banner .close .btn-close {
    margin-left: 10px;
    font-size: 20px;
}


/* Main Navigation Area */

.navigation {
    position: relative;
    background: #EE282F;
    width: 100%;
    height: 120px;
}


/* Logo */

.navigation .logo {
    background: #DBDBDB;
    width: 280px;
    height: 100%;
}

.navigation .logo img {
    margin-left: 40px;
    margin-top: 10px;
}


/* Nav Links */

.navigation .navbar {
    position: absolute;
    left: 387px;
    top: 73px;
}

.navigation .navbar li {
    display: inline-block;
    height: 47px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
    cursor: pointer;
}

.navigation .navbar li.active,
.navigation .navbar li:hover {
    height: 42px;
    border-bottom: 5px solid white;
}


/* Toolbar (Top Right Links) */

.navigation .toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
    width: auto;
    white-space: nowrap;
    font-size: 0px;
}

.navigation .toolbar .tab {
    display: inline-block;
}

.navigation .toolbar .text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
    line-height: 23px;
    font-size: 14px;
}

.navigation .toolbar .phone {
    width: 140px;
    height: 35px;
}

.navigation .toolbar .account {
    background: #D81118;
    width: 132px;
    height: 35px;
}

.navigation .toolbar .flights {
    background: #B00000;
    width: 140px;
    height: 35px;
}

.navigation .toolbar .flights .flight-badge {
    background: #48A102;
    padding: 0px 8px;
    border-radius: 100%;
}

.navigation .toolbar .language {
    background: #333333;
    width: 83px;
    height: 35px;
}


/**************************************
            BODY CONTENT (HOMEPAGE)
***************************************/

.jumbotron {
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
}

.jumbotron-content {
    margin: 0 auto;
    transform: translateY(472px);
}

@media screen and (max-width: 1800px) {
    .jumbotron {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.79%, rgba(0, 0, 0, 0.33) 100%), radial-gradient(452.00px at 50% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.06) 100%), url("../img/hero.png");
    }
    .jumbotron-content {
        transform: translateY(324px);
    }
}

@media screen and (min-width: 1801px) {
    .jumbotron {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.79%, rgba(0, 0, 0, 0.33) 100%), radial-gradient(452.00px at 50% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.06) 100%), url("../img/hero-lg.png");
    }
}

.jumbotron h1 {
    font-size: 72px;
    line-height: normal;
    text-align: center;
    font-weight: bold;
}

.jumbotron h3 {
    font-weight: 500;
    position: relative;
    top: -20px;
    font-size: 18px;
    text-align: center;
}

.jumbotron .btn-initiate {
    margin: 0 auto;
}

.jumbotron .arrow {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    transform: translateY(169px);
    color: #FFF;
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(230, 61, 61, 0.25);
}

.btn-initiate {
    width: 238px;
    height: 50px;
    border: 3px solid #FFFFFF;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 24px;
    padding: 10px 36px;
    cursor: pointer;
}

.instructions {
    background: #EE2B31;
    width: 100%;
    height: 329px;
}

.breadcrumbs {
    font-size: 12px;
    color: #3D3948;
    height: 50px;
}

.breadcrumbs ul {
    position: relative;
    top: 19px;
}

.breadcrumbs ul a {
    text-decoration: none;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li a:hover {
    color: #EE282F;
}

.breadcrumbs .arrow {
    color: #D2D2D2;
    margin: 0 10px;
}

.breadcrumbs .breadcrumbs-share {
    float: right;
}

.breadcrumbs .breadcrumbs-share .icon {
    display: inline-block;
    position: relative;
    left: 5px;
    top: 1px;
}

.instructions .content {
    margin: 0 auto;
    width: 936px;
}

.instructions .numbers {
    position: absolute;
    top: 10px;
    left: 378px;
}

.instructions .numbers div {
    display: inline-block;
    margin-right: 309px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    margin-right: 309px;
}

.instructions .icons {
    position: absolute;
    top: 0px;
}

.instructions .icons div {
    display: inline-block;
}

.instructions .icons .calendar {
    position: absolute;
    top: 100px;
    left: 356px;
}

.instructions .icons .seat {
    position: absolute;
    left: 695px;
    top: 96px;
}

.instructions .icons .takeoff {
    position: absolute;
    left: 1016px;
    top: 102px;
}

.instructions .seperators {
    position: absolute;
    left: 534px;
    top: 135px;
    font-size: 30px;
    color: #BD0107;
}

.instructions .seperators div {
    display: inline-block;
    margin-right: 316px;
}

.instructions .headers {
    position: absolute;
    top: 182px;
    left: 252px;
}

.instructions .headers div {
    display: inline-block;
    width: 272px;
    height: 60px;
    margin-right: 60px;
    font-weight: 800;
    line-height: normal;
    font-size: 36px;
    text-align: center;
}

.instructions .descriptions {
    position: absolute;
    top: 232px;
    left: 252px;
}

.instructions .descriptions div {
    display: inline-block;
    width: 272px;
    margin-right: 60px;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;
}

.initiate {
    width: 100%;
    height: 344px;
    background: url("../img/bg-edgard-gradient.png");
}

.initiate a {
    text-decoration: none;
}

.initiate .btn-initiate {
    margin: 0 auto;
    transform: translateY(148px);
    background: #FFF;
    font-size: 36px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #3D3948;
    width: 316px;
    height: 60px;
}

.featured-bundles {
    width: 100%;
    height: 400px;
    margin-top: -2px;
    background-position: center;
}

@media screen and (max-width: 1800px) {
    .featured-bundles {
        background: url("../img/bundle.png");
    }
}

@media screen and (min-width: 1801px) {
    .featured-bundles {
        background: url("../img/bundle-lg.png");
    }
}

.featured-bundles .wrapper {
    position: relative;
}

.featured-bundles .prev,
.featured-bundles .next {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 176px;
    cursor: pointer;
}

.featured-bundles .prev:hover,
.featured-bundles .next:hover {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.featured-bundles .prev {
    left: 20px;
}

.featured-bundles .next {
    right: 20px;
}

.featured-bundles .info-wrapper {
    position: relative;
    width: 980px;
    height: 400px;
    margin: 0 auto;
    right: 0px;
}

.featured-bundles .info {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 478px;
    height: 350px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.featured-bundles .btn-category {
    color: #FFF;
    background: #EE282F;
    font-size: 12px;
    line-height: 24px;
    width: 95px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.featured-bundles .btn-book-bundle {
    background: none;
    width: 228px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    bottom: 109px;
}

.featured-bundles .btn-category a {
    text-decoration: none;
    color: #FFF;
}

.featured-bundles .info h1 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #FFFFFF;
    position: absolute;
    top: 24px;
}

.featured-bundles .info h2 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    top: 68px;
}

.featured-bundles .info p {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 110px;
}

.featured-bundles-slideshow {
    width: 100%;
    height: 496px;
}

.featured-bundles-slideshow .slideshow-wrapper {
    width: 1440px;
    height: 496px;
    margin: 0 auto;
}

.featured-bundles-slideshow img {
    width: 100%;
}

footer {
    position: relative;
}

footer .footer-content {
    position: relative;
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

footer .main {
    width: 100%;
    height: 238px;
    background: #3D3948;
}

footer .main .left {
    position: absolute;
    top: 50px;
    width: 140px;
}

footer .main .left .footer-about {
    margin-top: 9px;
}

footer .main .left .social {
    margin-top: 13px;
}

footer .main .social-icon {
    display: inline-block;
    margin-right: 5px;
    opacity: 0.5;
}

footer .main .social-icon:hover {
    opacity: 1.00;
}

footer .main .social-icon:last-child {
    margin-right: 0;
}

footer .main .center {
    position: absolute;
    left: 332px;
    top: 50px;
}

footer .main .right {
    position: absolute;
    left: 664px;
    top: 50px;
}

footer .main .right input {
    background: #A19DAC;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 218px;
    height: 36px;
    padding: 6px 40px 6px 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #FFF;
}

footer .main .right .email-icon {
    position: relative;
    top: -28px;
    left: 188px;
    font-size: 20px;
    color: #FFF;
    background: #A19DAC;
    width: 20px;
}

footer .main .right input::placeholder {
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
}

footer .main .right .btn-signup {
    position: absolute;
    left: 232px;
    top: 40px;
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    background: #EE282F;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}

footer .main .right .modify {
    text-align: right;
    position: relative;
    top: -10px;
}

footer .main h1 {
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
}

footer .main a {
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    color: #FFF;
}

footer .main a:hover {
    text-decoration: underline;
    color: #CCCCCC;
}

footer .bottom {
    height: 146px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 12px;
    color: #CCCCCC;
    background: #262626;
}

footer .bottom .links {
    position: relative;
    top: 20px;
}

footer .bottom a {
    text-decoration: none;
    color: #CCCCCC;
}

footer .bottom .logo {
    position: absolute;
    left: 1108px;
    top: 52px;
}

footer .footer-content {
    margin: 0 auto;
}


/**************************************
            BODY CONTENT (CALENDAR)
***************************************/

.booking-view {
    color: #3D3948;
    position: relative;
    height: 1200px;
}

.booking-view .header h1 {
    font-weight: 500;
    line-height: normal;
    font-size: 48px;
}

.booking-view .header h3 {
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    position: relative;
    top: -20px;
}

.booking-view .progress {
    position: relative;
    left: 70px;
}

.booking-view .calendar-view {
    position: relative;
    top: 40px;
}

.booking-view .calendar-flight {
    position: absolute;
    width: 117px;
    height: 14px;
    top: 30px;
    margin-left: 8px;
    border-radius: 3px;
    font-size: 10px;
    background: #2F80ED;
    color: #FFF;
    padding-right: 10px;
}

.booking-view .calendar-flight.full {
    background: #68B928;
}

.booking-view .calendar-flight.almost-full {
    background: #F2C94C;
}

.booking-view .calendar-flight.first {
    position: absolute;
    top: 30px;
    height: 28px;
}

.booking-view .calendar-flight div {
    display: inline-block;
    position: absolute;
    font-weight: normal;
}

.booking-view .calendar-flight .locations {
    font-weight: bold;
    line-height: 12px;
    top: 0px;
    left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.booking-view .calendar-flight .passengerCount {
    bottom: 0px;
    left: 5px;
    line-height: 14px;
}

.booking-view .calendar-flight .infoBtn {
    bottom: 1px;
    right: 2px;
}

.calendar-view .calendar {
    position: relative;
    top: 20px;
}

.calendar-view .city-selector {
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
}

.calendar-view .city-selector select {
    width: 230px;
    height: 30px;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

.calendar .header {
    width: 973px;
    height: 62px;
    background: #3D3948;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calendar .cal table {
    max-width: 975px;
    min-width: 975px;
    border-left: 1px solid #EDF0F2;
}

.calendar .cal th {
    background: #3D3948;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.0166667em;
    padding-bottom: 4px;
}

.calendar .cal td {
    width: 139px;
    height: 112px;
    max-height: 112px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #EDF0F2;
    border-bottom: 1px solid #EDF0F2;
}

.calendar .cal .date {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.calendar .cal .date.current {
    background: #EE282F;
    color: #FFF;
    border-radius: 100%;
}


/** Weekend Days **/

.calendar .cal .col1,
.calendar .cal .col7 {
    background: rgba(235, 235, 235, 0.2);
    mix-blend-mode: normal;
}

.calendar .cal td:hover,
.calendar .cal .focus {
    background: #F1EDF5
}

.calendar .cal .dim {
    color: #888A8C;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.calendar .month-display {
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 409px;
    top: 10px;
}

.calendar .arrow {
    font-size: 18px;
    text-align: center;
    color: #FFF;
}

.calendar .arrow.disabled {
    color: #A19DAC;
}

.calendar .arrow-prev {
    position: absolute;
    top: 21px;
    left: 20px;
}

.calendar .arrow-next {
    position: absolute;
    top: 21px;
    left: 943px;
}

.legend {
    position: relative;
    top: 40px;
}

.legend .item {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}

.legend .circle {
    display: inline-block;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    transform: translateY(3px);
}

.cal-blue {
    background: #2F80ED;
}

.cal-yellow {
    background: #F2C94C;
}

.cal-green {
    background: #68B928;
}

.table-wrapper {
    width: 973px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}


/** Calendar Popups **/

.popup {
    position: absolute;
    top: 500px;
    left: 600px;
    width: 260px;
    height: 430px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    color: #3D3948;
    font-weight: bold;
    font-size: 14px;
}

.popup.popup-initiate {
    left: 400px;
    height: 450px;
}

.popup a {
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
    color: #666666;
}

.popup .arrow {
    position: absolute;
    left: 120px;
    top: 447px;
}

.popup .prompt {
    position: absolute;
    top: 5px;
    left: 10px;
}

.popup .btn-close {
    position: absolute;
    top: 3px;
    right: 9px;
    cursor: pointer;
}

.popup .departure {
    position: absolute;
    left: 11px;
    top: 39px;
}

.popup .departure .date {
    color: #2F80ED;
}

.popup .departure-time {
    position: absolute;
    top: 37px;
    right: 5px;
    color: #2F80ED;
}

.popup select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.1px;
    text-overflow: '';
}

.time-picker-icon {
    background: #F6F6F6;
    height: 22px;
    width: 20px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 198px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.popup select.departure-time,
.popup .departure-time,
.popup .returnTime {
    width: 62px;
    height: 24px;
    font-size: 12px;
    color: #2F80ED;
    font-family: 'Mukta', sans-serif !important;
}

.popup input[type="time"]:-moz-read-only {
    color: #2F80ED;
}

.popup .departure-location {
    position: absolute;
    top: 66px;
    left: 10px;
}

.popup .departure-location input {
    width: 240px;
    height: 24px;
    font-size: 12px;
}

.popup .destination-location {
    position: absolute;
    top: 112px;
    left: 10px;
}

.popup .destination-dropdown {
    width: 245px;
    height: 24px;
}

.popup .destination-location input {
    width: 240px;
    height: 24px;
    font-size: 12px;
}

.popup .locate-link-from {
    position: absolute;
    top: 90px;
    left: 10px;
}

.popup .locate-link-to {
    position: absolute;
    top: 137px;
    left: 10px;
}

.popup .divider {
    width: 240px;
    margin: 0 auto;
    position: absolute;
    top: 164px;
    left: 10px;
    border: 1px solid #3D3948;
}

.popup .divider-arrow {
    position: absolute;
    top: 161px;
    left: 124px;
    font-size: 12px;
}

.popup .return {
    position: absolute;
    top: 174px;
    left: 10px;
}

.popup .returnDate {
    font-family: Mukta;
    position: absolute;
    width: 130px;
    height: 24px;
    top: 198px;
    left: 10px;
    font-size: 12px;
    color: #2F80ED;
}

.popup .returnTime {
    position: absolute;
    width: 60px;
    height: 24px;
    top: 198px;
    left: 190px;
    font-size: 12px;
    color: #2F80ED;
}

.popup table {
    position: absolute;
    width: 240px;
    top: 242px;
    left: 10px;
    font-size: 12px;
}

.popup table .right-col {
    text-align: right;
    color: #2F80ED;
}

.popup table tr {
    border-bottom: 1px dotted #E0E0E0;
}

.popup table td {
    padding: 5px 0px;
}

.popup .bottom {
    position: absolute;
    height: 68px;
    bottom: 10px;
    width: 260px;
}

.popup .share {
    position: absolute;
    bottom: 44px;
    left: 10px;
    line-height: 24px;
}

.popup .share .share-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.popup .btn-cancel {
    position: absolute;
    width: 61px;
    height: 24px;
    bottom: 0px;
    left: 91px;
}

.popup.popup-initiate .btn-cancel {
    left: 80px;
    bottom: 0px;
}

.popup .btn-initiate-flight {
    position: absolute;
    width: 99px;
    height: 24px;
    bottom: 0px;
    left: 151px;
}

.popup .btn-join-flight {
    position: absolute;
    width: 88px;
    height: 24px;
    right: 10px;
    bottom: 0px;
}

.popup .btn-cancel-join {
    left: 91px !important;
}


/**************************************
            BODY CONTENT (RESERVE)
***************************************/

.booking-view .reserve {
    position: absolute;
    width: 525px;
    min-height: 800px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #333333;
}

.booking-view h1.prompt {
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #3D3948;
    margin-top: 40px;
    margin-bottom: 10px;
}

.booking-step {
    padding-left: 203px;
}

.reserve a {
    text-decoration: none;
}

.reserve .blue {
    color: #2F80ED;
}

.reserve .departure {
    position: absolute;
    left: 21px;
    top: 16px;
}

.reserve .passengerCount {
    position: absolute;
    left: 430px;
    bottom: 240px;
}

.reserve .passengerCount .btn {
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgb(99, 89, 126);
    border-radius: 3px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.reserve .passengerCount .btn.disabled {
    background: #A19DAC;
    cursor: not-allowed;
}

.reserve .passengerCount .btn-plus {
    top: 0px;
    left: 51px;
}

.reserve .passengerCount .count {
    position: absolute;
    width: 46px;
    height: 24px;
    background: #F6F6F6;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.reserve .departure-time,
.reserve .return-time {
    position: absolute;
    width: 80px;
    height: 40px;
    background: #F6F6F6;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}

.reserve .departure-time {
    top: 11px;
    right: 20px;
}

.reserve .return-time {
    top: 274px;
    right: 20px;
}

.reserve .departure-location,
.reserve .destination-location {
    position: absolute;
    width: 485px;
    height: 40px;
    background: #F6F6F6;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
}

.reserve .departure-location {
    left: 20px;
    top: 71px;
}

.reserve .destination-location {
    left: 20px;
    top: 148px;
}

.reserve .locate-link {
    position: absolute;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
}

.reserve .locate-link a {
    color: #666666;
}

.reserve .locate-link-from {
    left: 21px;
    top: 111px;
}

.reserve .locate-link-to {
    left: 21px;
    top: 188px;
}

.reserve .return {
    position: absolute;
    left: 20px;
    top: 249px;
}

.reserve .return-date {
    position: absolute;
    width: 384px;
    height: 40px;
    background: #F6F6F6;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    line-height: 40px;
    padding-left: 12px;
    left: 21px;
    top: 274px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.reserve .calendar-icon {
    float: right;
    position: relative;
    left: -11px;
}

.reserve table {
    position: absolute;
    bottom: 80px;
    left: 21px;
    width: 485px;
}

.reserve table .right-col {
    text-align: right;
    color: #2F80ED;
}

.reserve table tr {
    border-bottom: 1px dotted #E0E0E0;
}

.reserve {
    overflow: hidden;
}

.reserve .passengers {
    position: absolute;
    left: 30px;
    top: 341px;
    height: 200px;
    overflow-y: scroll;
    padding-right: 50px;
    overflow-x: hidden;
}

.reserve .passengers .passenger {
    border-bottom: 1px dotted #A19DAC;
    width: 464px;
    margin: 5px 0;
}

.reserve .passengers .passenger-confirmed {
    color: #666666;
}

.reserve .passengers .passenger .remove-passenger {
    position: absolute;
    font-size: 14px;
    line-height: 100%;
    right: 62px;
    cursor: pointer;
    padding-top: 5px;
}

.reserve .passengers.passengers-confirm {
    top: 194px;
}

.reserve .btn {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.reserve .btn-cancel {
    position: absolute;
    left: 61px;
    bottom: 20px;
    width: 100px;
    height: 40px;
}

.reserve .btn-back {
    position: absolute;
    left: 171px;
    bottom: 20px;
    width: 173px;
    height: 40px;
}

.reserve .btn-next-step {
    position: absolute;
    left: 354px;
    bottom: 20px;
    width: 151px;
    height: 40px;
}

.reserve table .divider {
    width: 100%;
    border: 1px solid #3D3948;
}


/**************************************
            BODY CONTENT (CONFIRM)
***************************************/

.reserve .confirm-table {
    bottom: 125px;
}

.reserve .departure-confirm,
.reserve .destination-confirm {
    border-bottom: 1px dotted #E0E0E0;
    margin-bottom: 10px;
    position: absolute;
    width: 485px;
}

.reserve .departure-confirm {
    left: 20px;
    top: 56px;
}

.reserve .destination-confirm {
    left: 20px;
    top: 108px;
}

.reserve .return-confirm {
    position: absolute;
    top: 154px;
    left: 20px;
}

.reserve .share {
    position: absolute;
    right: 20px;
    bottom: 85px;
    font-size: 14px;
    font-weight: normal;
}

.reserve .share .share-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.booking-view h3.email-prompt {
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #333333;
    position: relative;
    top: -20px;
}

.booking-view .email-address {
    color: #A19DAC;
    text-decoration: underline;
}

.booking-view .btn-flights {
    position: absolute;
    width: 217px;
    height: 40px;
    left: 124px;
    bottom: 20px;
}

.booking-view .btn-bundles {
    position: absolute;
    width: 154px;
    height: 40px;
    left: 351px;
    bottom: 20px;
}


/*******************
 *    Forfaits
 ******************/

.bundles-content {
    color: #000;
    width: 973px;
    margin-bottom: 50px;
    height: auto;
}

.bundles-content h1 {
    font-weight: 500;
    line-height: normal;
    font-size: 48px;
}

.bundles-content p {
    margin: 10px 0;
    line-height: 23px;
    font-size: 14px;
}


/*******************
 *    Planes
 ******************/

.plane-info {
    color: #000;
    width: 973px;
    margin-bottom: 50px;
    height: auto;
}

.plane-info h1 {
    font-weight: 500;
    line-height: normal;
    font-size: 48px;
}

.plane-info h2 {
    font-size: 24px;
    font-weight: bold;
}

.plane-info p {
    margin: 10px 0;
    line-height: 23px;
    font-size: 14px;
}

.plane-info .images,
.plane-info .text {
    display: inline-block;
}

.plane-info .plane {
    margin-top: 40px;
}

.plane-info .images {
    width: 300px;
}

.plane-info .text {
    margin-left: 20px;
    width: 640px;
    vertical-align: top;
}

.plane-info .images img {
    width: 100%;
    height: auto;
}


/*******************
 *    Edgard
 ******************/

.breadcrumbs.grey ul {
    top: 0px;
}

.breadcrumbs * a {
    color: #000;
}

.about {
    color: #000;
    width: 973px;
    margin-bottom: 50px;
}

.about h1,
.about h2,
.about h3 {
    font-weight: bold;
    line-height: normal;
}

.about h1 {
    font-size: 48px;
}

.about h2 {
    font-size: 18px;
    font-weight: normal;
}

.about h3 {
    font-size: 24px;
}

.about p {
    font-size: 14px;
    font-weight: normal;
}

.about .step {
    margin-top: 40px;
}

.about .text {
    width: 468px;
    display: inline-block;
    vertical-align: top;
}

.about .text.left {
    margin-right: 20px;
}

.about .text.right {
    margin-left: 20px;
}

.about p {
    margin: 10px 0;
    text-indent: 20px;
}

.about .image {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

.about .image img {
    margin-bottom: 10px;
}

.about .text ol {
    list-style-type: disc;
    font-size: 14px;
    margin-left: 40px;
    line-height: 23px;
}


/*******************
 *    Contact
 ******************/

.contact-content {
    color: #000;
    width: 973px;
    margin-bottom: 50px;
    height: auto;
}

.contact-content .contact-info,
.contact-content .map {
    display: inline-block;
}

.contact-content .contact-info {
    width: 400px;
    font-size: 18px;
    line-height: 23px;
    position: relative;
    top: -160px;
}

.contact-content h1 {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 160px;
}

.contact-content .contact-info a {
    color: #000;
    text-decoration: none;
}

.contact-content .map {
    width: 500px;
    border-left: 1px solid #A19DAC;
    padding-left: 20px;
}


/***********************
* POP UP ADD PASSENGER
***********************/

.popup-add-passenger {
    position: absolute;
    top: 293px;
    width: 525px;
    left: 230px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    z-index: 101;
}

.popup-add-passenger h1 {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #3D3948;
    position: absolute;
    top: 20px;
    left: 20px;
}

.popup-add-passenger .btn-close {
    position: absolute;
    font-size: 18px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-add-passenger .form {
    position: absolute;
    top: 73px;
    left: 20px;
}

.popup-add-passenger .group {
    margin-bottom: 20px;
}

.popup-add-passenger input[type="text"],
.popup-add-passenger input[type="email"] {
    display: block;
    width: 465px;
    height: 24px;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.popup-add-passenger .label {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
}

.popup-add-passenger .btn {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
}

.popup-add-passenger .btn-cancel {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 55px;
}

.popup-add-passenger .btn-confirm {
    width: 340px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 166px;
}

.popup-add-passenger input[type="checkbox"] {
    visibility: hidden;
}

.popup-add-passenger .checkbox-wrapper {
    position: absolute;
    left: 0px;
}

.popup-add-passenger .label-conditions,
.popup-add-passenger .label-email {
    width: 455px;
    left: 20px;
    position: relative;
}

.popup-add-passenger .label-conditions {
    top: -3px;
}

.popup-add-passenger .label-email {
    top: -3px
}


/** Overlay **/

.dark-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}


/** Service concierge **/

.concierge-content {
    color: #000;
}

.concierge-content h1 {
    font-size: 48px;
    height: 80px;
}

.concierge-content p {
    font-size: 18px;
    line-height: normal;
}

.concierge-content .concierge-form {
    position: relative;
    width: 525px;
    height: 392px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px;
    margin: 0 auto 50px auto;
}

.concierge-form select,
.concierge-form textarea {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    width: 485px;
    background: #F5F5F5;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px 10px;
}

.concierge-comments {
    height: 200px;
    resize: none;
}

.concierge-form .btn {
    position: absolute;
}

.concierge-form .btn {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
}

.concierge-form .btn-success {
    width: 117px;
    right: 20px;
}

.concierge-form .btn-warning {
    width: 100px;
    right: 147px;
}

.concierge-form .form-thanks {
    text-align: center;
}

.concierge-form .form-thanks .checkmark {
    color: #48A102;
    font-size: 128px;
}

.concierge-form .form-thanks a {
    color: #3d3d3d;
    position: relative;
    top: 40px;
    text-decoration: underline;
}


/** Checkbox **/

input[type=checkbox].checkbox-edgard {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].checkbox-edgard+label.checkbox-edgard-2 {
    padding-left: 18px;
    height: 12px;
    display: inline-block;
    line-height: 12px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].checkbox-edgard:checked+label.checkbox-edgard-2 {
    background-position: 0 -12px;
}

label.checkbox-edgard-2 {
    background-image: url("../img/check.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}